<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <!--  BOOTSTRAP STUFF  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
  <title>Create Locations</title>
</head>

<body>

  <!--  START HERE  -->

  <section
    sec:authorize="hasAuthority('MANAGER') or hasRole('MANAGER') or hasAuthority('FESTIVAL_MANAGER') or hasRole('FESTIVAL_MANAGER')">

    <!--  NavBar -->
    <nav class="navbar navbar-expand-md navbar-dark">
      <a href="/" class="navbar-brand">
        <h3 class="mb-0">FVIV</h3>
      </a>
      <ul class="navbar-nav mr-auto smooth-scroll">
        <li class="nav-item">
          <a href="/location" class="nav-link">Back</a>
        </li>
      </ul>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-user-secret"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript: document.logoutForm.submit()" data-offset="80">Logout</a>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out" />
          </form>
        </li>
      </ul>
    </nav>
    <!--  Overlay -->
    <section class="d-flex align-items-center" id="showcase2">
      <div id="overlay"></div>
      <div id="header" class="container text-white text-center">
        <h1 class="text-center dark-grey-text font-weight-bold mb-5 pt-3">
          <strong>Create Locations</strong>
        </h1>
      </div>
    </section>

    <br>
    <br>

    <section>
      <div id="wrapper" class="container text-center card">
        <h1 class="mb-3 mt-5"> Create Location </h1>
        <form method="POST" th:action="@{/createLocation}" th:object="${location}">
          <label for="name">Name</label>
          <input type="text" required="required" th:field="*{name}" class="form-control" />
          <br />
          <label for="address">Address</label>
          <input type="text" required="required" th:field="*{address}" class="form-control" />
          <br />
          <label for="price">Price</label>
          <input type="number" placeholder="Price in €" required="required" th:field="*{price}" class="form-control" />
          <br />
          <label for="maxVisitors">Max Visitors</label>
          <input type="number" required="required" th:field="*{maxVisitors}" class="form-control" />
          <br />
          <label for="outsideView">Thumbnail</label><br />
          <input type="file" th:field="*{thumbnail}" name="thumbnail" accept="image/*" />
          <br />
          <br>
          <label for="outsideView">Ground Plan</label><br />
          <input type="file" th:field="*{groundPlan}" name="groundPlan" accept="image/*" />
          <br>
          <div class="container">
            <br>
            <input class="btn btn-primary" type="submit" value="Create">
            <a href="/location" class="btn btn-danger" role="button">Cancel</a>

          </div>

        </form>

      </div>

    </section>
    <br>
    <br>


  </section>
  <!-- BOOTSTRAP SCRIPTS -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    function goBack() {
      window.history.back();
    }
    // Get the current year for the copyright
    $("#year").text(new Date().getFullYear());
  </script>
</body>

</html>